@import "tailwindcss";
@plugin "daisyui";

body {
    text-align: center;
}

ul {
    margin-bottom: 10vh;
}

h1 {
    font-size: 6vh;
    font-weight: 700;
    margin-bottom: 3vh;
}

h2 {
    font-weight: 500;
}

h3 {
    font-style: italic;
}

button {
    margin: 2vh;
}

nav {
    padding: 1.5vh
}

/* .container {
    display: flex;
    justify-content: space-around;
}
.card {
    background-color: aliceblue;
    padding: 2vh;
} */

