body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titre {
    font-weight:lighter;
}

ul {
    list-style: none;
    display: flex;
}

button {
    background-color: rgb(40, 165, 165);
    border: none;
    padding: 2vh;
    margin: 1vh;
    border-radius: 1vh;
    color: rgb(248, 232, 213);
    font-size:medium;
    a {
        color: rgb(248, 232, 213);
        text-decoration: none; 
    }
}

.ajouter {
    background-color: rgb(53, 194, 147);
}

.supprimer {
    background-color: rgb(201, 98, 39);
}

h2 {
    display: none;
    color: red;
    text-align: center;
    font-size: 5em;;
}